

<div *ngIf= 'show ==="true"' class="d-flex justify-content-center mt-4">
    <h3 class="text-center">Deposit</h3>
</div>
<div *ngIf= 'show ==="true"' class="d-flex justify-content-center mt-4">
    <form [formGroup]="payForm">
        <input type="number" class="form-control form-control-lg" formControlName="amount" (input)="input()">
    </form>
</div>
 <div *ngIf= 'show ==="true"' class="d-flex justify-content-center mt-4">
    <button class="btn py-2" (click)="pay()">Pay {{amountLabel}}</button>
  </div>


  <div *ngIf= 'show ==="false"' class="mt-5">
    <h3 class="text-center">Scan to Pay</h3>
    <div  class="d-flex justify-content-center">
  <img [src]="data" height="300" width="300" alt="Bitcoin QR Code" />
  </div>
  <div class="skip d-flex justify-content-center mt-5">
    <a (click)='show = "true"'>Back</a>
  </div>
  </div>