
      <div class="tile wrapper pt-2" id="tile-1">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-justified" role="tablist">
          <div class="slider"></div>
          <div class="slider2 px-5"></div>
           <li class="item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">           <i class="fa fa-user-plus"></i>
               Personal Information
             </a>
            </li>
          
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><i class="fa fa-refresh"></i> Verification</a>
            </li>
          <li class="nav-item">
              <a class="nav-link" id="setting-tab" data-toggle="tab" href="#setting" role="tab" aria-controls="setting" aria-selected="false"><i class="fas fa-cogs"></i> Settings</a>
            </li>
        </ul>
      
      
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div>
              <form class="mx-3">
                <div class="form-group row my-4 ">
                  <div class="form-group col-md-6" id="first">
                    <label for="firstName" class="my-2">First Name</label>
                    <input type="text" class="form-control form-control-lg"
                           id="firstName"  >
                    <!-- <div class="text-danger" *ngIf = "signupForm.get('first_name').invalid && (signupForm.get('first_name').touched || signupForm.get('first_name').dirty) ">
                      <small *ngIf = "signupForm.get('first_name').errors?.required"> First name required</small>
                    </div> -->
                  </div>
                  <div class="form-group col-md-6">
                    <label for="lastName" class="my-2">Last Name</label>
                    <input type="text" class="form-control form-control-lg"
                           id="lastName">
                    <!-- <div class="text-danger" *ngIf = "signupForm.get('last_name').invalid &&  (signupForm.get('last_name').touched || signupForm.get('last_name').dirty) ">
                      <small *ngIf = "signupForm.get('last_name').errors?.required"> Last name required</small>
                    </div> -->
                  </div>
                </div>
                <div class="form-group row my-4" >
                    <div class="form-group col-md-6" id="email">
                      <label for="email" class="my-2">Email</label>
                      <input type="email" class="form-control form-control-lg"
                             id="email">
                      <!-- <div class="text-danger" *ngIf = "signupForm.get('email').invalid && (signupForm.get('email').touched || signupForm.get('email').dirty)">
                        <small *ngIf = "signupForm.get('email').errors?.required"> Email required</small>
                        <small *ngIf = "signupForm.get('email').errors?.pattern"> Please provide a valid email address</small>
                      </div> -->
                    </div>
                    <div class="form-group col-md-6" >
                      <label for="phoneNumber" class="my-2">Phone number</label>
                      <ngx-intl-tel-input
[cssClass]="'form-control form-control-lg custom'"
[preferredCountries]="[CountryISO.UnitedStates, CountryISO.UnitedKingdom]"
[enableAutoCountrySelect]="false"
[enablePlaceholder]="true"
[searchCountryFlag]="true"
[searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
[selectFirstCountry]="false"
[selectedCountryISO]="CountryISO.India"
[numberFormat]="PhoneNumberFormat.National"
[maxLength]="15"
[tooltipField]="TooltipLabel.Name"
[phoneValidation]="true"
name="phone"
id="phoneNumber"
></ngx-intl-tel-input>
                      <!-- <div class="text-danger phn" *ngIf = "signupForm.get('phone_number').invalid && signupForm.get('phone_number').touched ">
                        <small *ngIf = "signupForm.get('phone_number').errors?.required"> Phone number required</small>
                        <small *ngIf = "signupForm.get('phone_number').errors?.maxlength"> Phone number not valid</small>
                      </div> -->
                    </div>
                </div>

                <div class="form-group row my-4">
                  <div class="form-group col-md-6" >
                    <label for="lastName" class="my-2">Date of Birth</label>
                    <div class="row">
                      <div class="col-sm-4">
                        <SELECT id ="year" class="form-select form-select-lg" name = "yyyy" >
                        </SELECT>
                      </div>
                      <div class="col-sm-4">
                        <SELECT  id ="month" class="form-select form-select-lg" name = "mm" >
                        </SELECT>
                      </div>
                      <div class="col-sm-4">
                        <SELECT id ="day" class="form-select form-select-lg" name = "dd" >
                        </SELECT>
                    </div>
                  </div>
                </div>

                  <div class="form-group col-md-6" >
                      <label for="lastName" class="my-2">Citizenship</label>
                      <input type="text" class="form-control form-control-lg"
                             id="lastName">
                      <!-- <div class="text-danger" *ngIf = "signupForm.get('last_name').invalid &&  (signupForm.get('last_name').touched || signupForm.get('last_name').dirty) ">
                        <small *ngIf = "signupForm.get('last_name').errors?.required"> Last name required</small>
                      </div> -->
                  </div>
                </div>


                <div class="form-group row my-4 ">
                  <div class="form-group col-md-6" id="first">
                    <label for="firstName" class="my-2">City</label>
                    <input type="text" class="form-control form-control-lg"
                           id="firstName"  >
                    <!-- <div class="text-danger" *ngIf = "signupForm.get('first_name').invalid && (signupForm.get('first_name').touched || signupForm.get('first_name').dirty) ">
                      <small *ngIf = "signupForm.get('first_name').errors?.required"> First name required</small>
                    </div> -->
                  </div>
                  <div class="form-group col-md-6">
                    <label for="lastName" class="my-2">Country</label>
                    <input type="text" class="form-control form-control-lg"
                           id="lastName">
                    <!-- <div class="text-danger" *ngIf = "signupForm.get('last_name').invalid &&  (signupForm.get('last_name').touched || signupForm.get('last_name').dirty) ">
                      <small *ngIf = "signupForm.get('last_name').errors?.required"> Last name required</small>
                    </div> -->
                  </div>
                </div>

                <div class="form-group row my-4 ">
                  <div class="form-group col-md-6" id="first">
                    <label for="firstName" class="my-2">Zip Code</label>
                    <input type="text" class="form-control form-control-lg"
                           id="firstName"  >
                    <!-- <div class="text-danger" *ngIf = "signupForm.get('first_name').invalid && (signupForm.get('first_name').touched || signupForm.get('first_name').dirty) ">
                      <small *ngIf = "signupForm.get('first_name').errors?.required"> First name required</small>
                    </div> -->
                  </div>
                  <div class="form-group col-md-6">
                    <label for="lastName" class="my-2">Address</label>
                    <input type="text" class="form-control form-control-lg"
                           id="lastName">
                    <!-- <div class="text-danger" *ngIf = "signupForm.get('last_name').invalid &&  (signupForm.get('last_name').touched || signupForm.get('last_name').dirty) ">
                      <small *ngIf = "signupForm.get('last_name').errors?.required"> Last name required</small>
                    </div> -->
                  </div>
                </div>
                <div class="button d-flex justify-content-end mt-5">
           <button class="btn py-3" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Next</button>
                </div>
                  </form>

            </div>
          </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="verify-container mt-3">
            <p class="">
              Dear Client.name,<br>
              Account verification is absolutely mandatory for each of our clients as it is
              part of our Anti-Money Laundering and Fraud program. We
              realize that verification can be bothersome for some clients so we have
              created an application to maximally simplify the process of providing
              the requested documents. To complete the verification on your account please forward
              the following details:<br>
              A colored picture/scan of a valid Government issued Photo I.D,
              front and back (i.e /Driver License/ Passport/ Identification Card)
            </p>
            <div class="d-flex justify-content-between mt-5">
            <div>
           <p>Upload Front Page of Government Issued ID</p>
           <!-- Upload  -->
<form id="file-upload-form" class="uploader">
  <input id="file-upload" type="file" name="fileUpload" accept="image/*" />

  <label for="file-upload" id="file-drag">
    <img id="file-image" src="#" alt="Preview" class="hidden">
    <div id="start">
      <i class="fa fa-download" aria-hidden="true"></i>
      <div>Select a file or drag here</div>
      <div id="notimage" class="hidden">Please select an image</div>
      <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
    </div>
    <div id="response" class="hidden">
      <div id="messages"></div>
      <progress class="progress" id="file-progress" value="0">
        <span>0</span>%
      </progress>
    </div>
  </label>
</form>
            </div>
            <div>
              <p>Upload Back Page of Government Issued ID</p>
              <form id="file-upload-form" class="uploader">
                <input id="file-upload" type="file" name="fileUpload" accept="image/*" />
              
                <label for="file-upload" id="file-drag">
                  <img id="file-image" src="#" alt="Preview" class="hidden">
                  <div id="start">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    <div>Select a file or drag here</div>
                    <div id="notimage" class="hidden">Please select an image</div>
                    <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
                  </div>
                  <div id="response" class="hidden">
                    <div id="messages"></div>
                    <progress class="progress" id="file-progress" value="0">
                      <span>0</span>%
                    </progress>
                  </div>
                </label>
              </form>
            </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
              <form id="file-upload-form" class="uploader">
                <input id="file-upload" type="file" name="fileUpload" accept="image/*" />
              
                <label for="file-upload" id="file-drag">
                  <img id="file-image" src="#" alt="Preview" class="hidden">
                  <div id="start">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    <div>Select a file or drag here</div>
                    <div id="notimage" class="hidden">Please select an image</div>
                    <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
                  </div>
                  <div id="response" class="hidden">
                    <div id="messages"></div>
                    <progress class="progress" id="file-progress" value="0">
                      <span>0</span>%
                    </progress>
                  </div>
                </label>
                <p class="text-center">Upload a Picture of Utility Bill</p>
              </form>
            
            </div>

          </div>
        </div>
        <div class="tab-pane fade" id="setting" role="tabpanel" aria-labelledby="setting-tab">Settings</div>
        </div>
      
      </div>



