<div class="container-fluid">
  <div class="row">
      <div class="col-xl-5 col-md-5 col-sm-5 col-5 h-100 second-column">
          <div class="container top mt-4 ">
            <div class="second-column-header col-xl-6 col-md-6 col-sm-6 col-6 mx-5">
              <h2>Log into your account</h2>
              <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h6>
              </div>  
              <div class="mx-5 ">
               <form >
                    
                     <div class="form-group my-4">
                         <label for="email" class="my-2">email</label>
                         <input type="email" class="form-control form-control-lg" id="email" >
                       
                       </div>
                       <div class="form-group my-4">
                         <label for="password" class="my-2">Password</label>
                         <input type="password" class="form-control form-control-lg" id="password" >
                         <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                       </div>

                    
                       <div class=" my-3">
                       <button type="submit" class="btn btn-lg d-flex justify-content-center p-3">Login &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<span class="mt-0 ml-0"><i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
                   </div>
                     </form>
                     <div  class=" my-3">
                         <p>Don't have an account? <span><a>Signup</a></span></p>
                         <p><span><a>Forgotten Password</a></span></p>
                     </div>
              </div>

              </div>
      </div>
      <div class="col-xl-7 col-md-7 col-sm-7 col-7 px-6 first-column">
         <div class="container mt-4">
          <div class="first-column-header col-xl-5 col-md-5 col-sm-5 col-5">
            <h5>Logo</h5>
         </div>
             <div class="first-column-body mt-5">
                <div class="first-column-body-word">
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam laoreet pellentesque metus quis venenatis. 
                </div>
                <div class="first-column-body-image mt-5">
                 <img src="/assets/images/signin-image.jpg" class="center" width="370px" height="370px" alt="image"/>
                </div>

             </div>
          </div>
      </div>

  </div>

</div>
