<div class="container-fluid">
    <header>
      <!--Navbar-->
      <nav class="navbar navbar-expand-md navbar-light navbar-3 white d-flex justify-content-between px-5">
  
        <!-- Navbar brand -->
        <div>
        <a class="navbar-brand logo" routerLink="/">Logo</a>
    </div>
        <!-- Collapse button -->
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent15" aria-controls="navbarSupportedContent15" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
        </button>
  
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse justify-content-center my-3" id="navbarSupportedContent15">
  
          <!-- Links -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link pr-3 mx-2" routerLink="/trade">Trade <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link pr-3 mx-2 cursor" >Company</a>
              <ul class="dropdown-menu fade-up">
                <li><a class="dropdown-item" href="#">About Us</a></li>
                <li><a class="dropdown-item" href="#"> Account Types </a></li>
                <li><a class="dropdown-item" href="#"> Trading Platform </a></li>
                <li><a class="dropdown-item contact" href="#"> Contact Us</a></li>
              </ul>
          </li>
  
            <li class="nav-item dropdown">
              <a class="nav-link pr-3 mx-2" routerLink="/support-page">Markets</a>
              <ul class="dropdown-menu fade-up">
                <li><a class="dropdown-item" href="#"> Currency Pairs</a></li>
                <li><a class="dropdown-item" href="#"> Stocks</a></li>
                <li><a class="dropdown-item" href="#"> Indices </a></li>
                <li><a class="dropdown-item" href="#"> Trading Information</a></li>
                <li><a class="dropdown-item" href="#"> Trading Hours Changes </a></li>
              </ul>
          </li>
  
            <li class="nav-item dropdown">
              <a class="nav-link pr-3 mx-2" routerLink="/support-page">Education</a>
              <ul class="dropdown-menu fade-up">
                <li><a class="dropdown-item" href="#"> Trading Steps</a></li>
                <li><a class="dropdown-item" href="#"> Whats is Forex</a></li>
                <li><a class="dropdown-item" href="#"> Glossary </a></li>
                <li><a class="dropdown-item" href="#"> FAQ</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link pr-3 mx-2" routerLink="/support-page">Analytical</a>
              <ul class="dropdown-menu fade-up">
                <li><a class="dropdown-item" href="#"> Real Time Chart</a></li>
                <li><a class="dropdown-item" href="#"> Economic Calender </a></li>
                <li><a class="dropdown-item" href="#"> Dividend Calender </a></li>
                <li><a class="dropdown-item" href="#"> Fundamental Analysis </a></li>
                <li><a class="dropdown-item" href="#"> Technical Analysis </a></li>
              </ul>
          </li>
          

            <!-- <li class="nav-item dropdown">
                <a class="nav-link"  data-toggle="dropdown">  Hover up  </a>
                <ul class="dropdown-menu fade-up">
                  <li><a class="dropdown-item" href="#"> Submenu item 1</a></li>
                  <li><a class="dropdown-item" href="#"> Submenu item 2 </a></li>
                  <li><a class="dropdown-item" href="#"> Submenu item 3 </a></li>
                </ul>
            </li> -->
          
          </ul>
          <!-- Links -->
  
        </div>
  
        <div class="collapse navbar-collapse justify-content-md-end my-3" id="navbarSupportedContent15">
  
          <!-- Links -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link pr-4 login-btn btn py-2" routerLink="/auth-login">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-4 mr-2 signin-btn btn py-2" routerLink="/get-started">Sign Up</a>
            </li>
     
          </ul>
          <!-- Links -->
  
        </div>
      </nav>
      <!--/.Navbar ends here -->
    </header>
  </div>
