
<div id="wrapper" class="active">
  <header>
      <nav>
          <!-- Sidebar -->
          <div id="sidebar-wrapper">
              <ul id="sidebar_menu" class="sidebar-nav">
                  <li class="sidebar-brand"><a id="menu-toggle">Logo</a></li>
              </ul>
              <ul class="sidebar-nav" id="sidebar">
                  <li>
                      <a routerLink="/dashboard/trade" routerLinkActive="active">
                        <i class="fa fa-exchange" aria-hidden="true"></i> Trade
                      </a>
                    </li>
                    <li>
                      <a routerLink="/dashboard/wallet" routerLinkActive="active">
                        <i class="fa fa-money" aria-hidden="true"></i> Wallet
                      </a>
                    </li>
                    <li>
                      <a routerLink="/dashboard/transaction-history" routerLinkActive="active">
                        <i class="fa fa-tachometer" aria-hidden="true"></i> Transaction History
                      </a>
                    </li>
                    <li>
                      <a routerLink="/dashboard/analysis" routerLinkActive="active">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i> Analysis
                      </a>
                    </li>
                    <!-- <li>
                      <a routerLink="/dashboard/withdraw" routerLinkActive="active">
                        <i class="fa fa-money" aria-hidden="true"></i> Withdraw
                      </a>
                    </li> -->
                    <li>
                      <a routerLink="/dashboard/account/personal-info" routerLinkActive="active">
                        <i class="fa fa-cog" aria-hidden="true"></i> Account
                      </a>
                    </li>
                    <li class="header"><a class="btn" routerLink="/dashboard/deposit">Deposit</a></li>
              </ul>
          </div>
      </nav>
  </header>   



  <!-- Page content -->
  <div id="page-content-wrapper">
   <div class="page-content inset">
    <nav class="fixed-nav-bar">
      <!-- <a class="brand">
  Logo
      </a> -->
      <a class="link" >Hi, {{name | uppercase}}!</a>
      <a class="link" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
      
    </nav>  
 
        <router-outlet></router-outlet>
     </div>
  </div>
  <!-- End of Page content -->
</div>
<!--     
  <nav class="mobile mobile-bottom-nav">
      <div class="mobile-bottom-nav__item ">
          <div class="mobile-bottom-nav__item-content">
              <a  routerLink="/seller-dashboard/seller-home" routerLinkActive="mobile-bottom-nav__item--active" class="py-3"><span><img class="pt-2 pb-1" src="/assets/images/m-home.png" alt=""></span><br>Home</a>
          </div>		
      </div>
      <div class="mobile-bottom-nav__item ">
          <div class="mobile-bottom-nav__item-content">
              <a routerLink="/seller-dashboard/seller-wallet" routerLinkActive="mobile-bottom-nav__item--active" class="py-3"><span><img class="pt-2 pb-1" src="/assets/images/m-wallet.png" alt=""></span><br>Wallet</a>
          </div>		
      </div>
      <div class="mobile-bottom-nav__item">		
          <div class="mobile-bottom-nav__item-content">
              <a routerLink="/seller-dashboard/seller-transaction" routerLinkActive="mobile-bottom-nav__item--active" class="py-3"><span><img class="pt-2 pb-1" src="/assets/images/m-trans.png" alt=""></span><br> Transactions</a>
          </div>
      </div>
      <div class="mobile-bottom-nav__item">
          <div class="mobile-bottom-nav__item-content">
              <a routerLink="/seller-dashboard/seller-settings" routerLinkActive="mobile-bottom-nav__item--active" class="py-3"><span><img class="pt-2 pb-1" src="/assets/images/m-setting.png" alt=""></span><br> Settings</a>
          </div>		
      </div>
  </nav>
</div> -->

<!-- <script>
  $("#menu-toggle").click(function(e) {
  e.preventDefault();
  $("#wrapper").toggleClass("active");
});
</script> -->
