/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: gilroy;
    src: url(assets/fonts/Gilroy-Regular.otf) format("opentype");
  }


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
 }
