<div class="wrapper">
  <div class="container">
    <div class="first-row-container">
      <div class="col-12 filters d-flex justify-content-between pt-5 ">
        <div class="col-3"><select class="form-select" aria-label="Default select example">
          <option selected>All Period</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select></div>
        <div class="col-3"><select class="form-select" aria-label="Default select example">
          <option selected>All</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select></div>
        <div class="col-3"><select class="form-select" aria-label="Default select example">
          <option selected>All</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select></div>

      </div>

    </div>

    <div class="second-row ">
      <div>
        <span>Dec 21, 2020</span>
      </div>
       <div class="d-flex justify-content-between">
         <p>Deposit</p>
         <p>$250,000</p>
      </div>
      <div>
        <span>9.00 am</span>
      </div>
      <hr>
    </div>

    <div class="second-row ">
      <div>
        <span>Dec 21, 2020</span>
      </div>
       <div class="d-flex justify-content-between">
         <p>Withdraw</p>
         <p>$250,000</p>
      </div>
      <div>
        <span>9.00 am</span>
      </div>
      <hr>
    </div>

    <div class="second-row ">
      <div>
        <span>Dec 21, 2020</span>
      </div>
       <div class="d-flex justify-content-between">
         <p>Deposit</p>
         <p>$250,000</p>
      </div>
      <div>
        <span>9.00 am</span>
      </div>
      <hr>
    </div>

  </div>

</div>