<app-side-bar></app-side-bar>
<div class="wrapper">
  <div class="container">
    <div class="first-row-container">
      <div class="col-12 filters d-flex justify-content-between pt-5 mr-5">
        <div class="col-3"><select class="form-select" aria-label="Default select example">
          <option selected>All Period</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select></div>
        <div class="col-3"><select class="form-select" aria-label="Default select example">
          <option selected>All</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select></div>
        <div class="col-3"><select class="form-select" aria-label="Default select example">
          <option selected>All</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select></div>

      </div>

    </div>

  </div>

</div>